@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
.button {
  position: relative;
  background-color: #323544;
  border: none;
  outline: none;
  box-shadow: none;
  color: #ffffff;
  padding: 8px 14px 8px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.button .button-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 12px;
  width: 14px;
  height: 14px;
  fill: #fff;
}
.button:hover {
  background-color: #484c61;
  -webkit-box-shadow: 0px 0px 4px 0px #333647 inset;
  -moz-box-shadow: 0px 0px 4px 0px #333647 inset;
  box-shadow: 0px 0px 4px 0px #333647 inset;
}
#main-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main-menu {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;
}
#content-wrapper {
  height: 100%;
  margin-left: 200px;
}
#main-menu {
  background: #323544;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz- none;
  -o-user-select: none;
  user-select: none;
}
#main-menu #menu-header,
#main-menu #menu-footer {
  position: absolute;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main-menu #menu-header {
  top: 0;
  height: 60px;
  background: ;
}
#main-menu #menu-footer {
  bottom: 0;
  height: 60px;
  background: #666666;
}
#main-menu #menu-items {
  color: #9898a0;
  text-transform: uppercase;
  font-size: 14pt;
  font-weight: bold;
}
#main-menu #menu-items menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main-menu #menu-items menu .menu-item {
  position: relative;
  padding-left: 40px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#main-menu #menu-items menu .menu-item .menu-item-icon {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 10px;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  fill: #9898a0;
}
#main-menu #menu-items menu .menu-item a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 40px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
#main-menu #menu-items menu .menu-item:hover {
  background-color: #484b5e;
  cursor: pointer;
}
#main-menu #menu-items menu .menu-item:hover,
#main-menu #menu-items menu .menu-item.selected {
  color: #fff;
}
#main-menu #menu-items menu .menu-item:hover .menu-item-icon,
#main-menu #menu-items menu .menu-item.selected .menu-item-icon {
  fill: #55ACC0;
}
#main-menu #menu-items menu .menu-item.selected {
  background: #1e202c;
}
#main-menu #menu-items menu .menu-item.selected:before {
  content: ' ';
  position: absolute;
  top: 18px;
  right: 0;
  border: solid 12px rgba(0, 0, 0, 0);
  border-right-color: #F6F6F6;
  background: none;
}
#content-header .button {
  margin: 10px;
  float: right;
  background: #DD4B39;
}
#content-header .button:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #dd4b39 inset;
  -moz-box-shadow: 0px 0px 4px 0px #dd4b39 inset;
  box-shadow: 0px 0px 4px 0px #dd4b39 inset;
}
#expenses-content #add-expense-wrapper {
  clear: both;
  overflow: auto;
}
#expenses-content #add-expense-wrapper #button-add-expense {
  margin: 10px;
  float: right;
}
#expenses-content #expenses-list {
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
  border-spacing: 0;
  border-collapse: collapse;
}
#expenses-content #expenses-list .expense-item {
  padding: 10px 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  width: 350px;
  height: 200px;
  background-color: #fcfcfc;
}
#expenses-content #expenses-list .expense-item:nth-child(odd) {
  margin-right: 15px;
}
#expenses-content #expenses-list .expense-item .amount {
  width: 55%;
  font-size: 2.5em;
  float: left;
}
#expenses-content #expenses-list .expense-item .category-icon {
  float: left;
  width: 30%;
  height: 45%;
  margin: -10px 0 0 0;
}
#expenses-content #expenses-list .expense-item .options-wrapper {
  float: right;
  width: 25px;
  height: 14px;
  overflow: hidden;
}
#expenses-content #expenses-list .expense-item .options-wrapper .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid grey;
}
#expenses-content #expenses-list .expense-item .options-wrapper:hover {
  height: auto;
  overflow: visible;
}
#expenses-content #expenses-list .expense-item .options-wrapper .options {
  width: 80px;
  position: relative;
  top: 5px;
  left: 10px;
  border: 1px solid #cfcfcf;
  background: #fcfcfc;
  cursor: pointer;
}
#expenses-content #expenses-list .expense-item .options-wrapper .option {
  padding: 2px 4px;
}
#expenses-content #expenses-list .expense-item .options-wrapper .option:hover {
  background: #efefef;
}
#expenses-content #expenses-list .expense-item .title {
  float: left;
  width: 100%;
  min-height: 3em;
  margin: 0.25em 0;
}
#expenses-content #expenses-list .expense-item .date {
  float: left;
  width: 100%;
  bottom: 0;
  text-align: right;
}
#categories-content #add-category-wrapper {
  clear: both;
  overflow: auto;
}
#categories-content #add-category-wrapper #button-add-category {
  margin: 10px;
  float: right;
}
#categories-content #categories-list {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-spacing: 0;
  border-collapse: collapse;
}
#categories-content #categories-list .category-item {
  position: relative;
  width: 100%;
  padding: 10px;
}
#categories-content #categories-list .category-item:nth-child(odd) {
  background-color: #fcfcfc;
}
#categories-content #categories-list .category-item:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #cccccc;
  -moz-box-shadow: 0px 0px 5px 1px #cccccc;
  box-shadow: 0px 0px 5px 1px #cccccc;
  background: #fff;
  z-index: 2;
}
#categories-content #categories-list .category-item:hover .delete {
  opacity: 1;
}
#categories-content #categories-list .category-item > div {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 5px;
}
#categories-content #categories-list .category-item .color {
  text-align: center;
  padding: 0 5px;
}
#categories-content #categories-list .category-item .delete {
  opacity: 0;
  float: right;
  padding: 0;
}
#categories-content #categories-list .category-item .delete .button {
  background-color: #E9545A;
}
#categories-content #categories-list .category-item .delete .button:hover {
  background-color: #ef8186;
  box-shadow: none;
}
.category-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 4px #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
#statistics {
  display: none;
}
#content-wrapper {
  color: #222;
}
#content-wrapper #content-header {
  height: 60px;
  overflow: hidden;
  background: #ffffff;
}
#content-wrapper #content {
  font-size: 16pt;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100% -  60px);
  overflow: auto;
}
#content-wrapper #content::-webkit-scrollbar {
  width: 12px;
}
#content-wrapper #content::-webkit-scrollbar-track {
  background-color: #dedede;
}
#content-wrapper #content::-webkit-scrollbar-thumb {
  background-color: #bbb;
}
#content-wrapper #content::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #F6F6F6;
  overflow: hidden;
}
*[data-title] {
  position: relative;
}
*[data-title]:after,
*[data-title]:before {
  visibility: hidden;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  bottom: 100%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
*[data-title]:after {
  content: attr(data-title);
  position: absolute;
  left: 2px;
  margin-bottom: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 4px;
  white-space: nowrap;
  border-radius: 2px;
}
*[data-title]:before {
  content: ' ';
  position: absolute;
  left: 6px;
  border: solid 6px transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
}
*[data-title]:hover:after,
*[data-title]:hover:before {
  visibility: visible;
  opacity: 1;
}
