#categories {
    display: none;
    max-width: 800px;
    margin: 0 auto;

    .category-item {
        padding: 10px 0;

        &:nth-child(odd) {
            background-color: #fcfcfc;
        }

        &:hover {
            .delete {
                opacity: 1;
            }
        }

        td {
            padding: 10px 5px;
        }

        .color {
            text-align: center;
        }

        .delete {
            opacity: 0;

            .button{
                background-color: #E9545A;

                &:hover {
                    background-color: lighten(#E9545A, 10%);
                    box-shadow: none;
                }
            }
        }
    }
}

.category-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 4px #fff;
    .border-radius(4px);
    .box-shadow(0 0 5px #ccc);
}
