@import 'expences';

#content-wrapper {
    color: #222;

    #content-header {
        height: @content-header-height;
        overflow: hidden;
        background: @color-content-header-background;

        .button {
            margin: 10px;
            float: right;
        }
    }

    #content {
        padding: 20px;
        font-size: 16pt;
        .box-sizing(border-box);
        height: calc(~"100% - " @content-header-height);
        overflow: auto;
    }
}
