.button {
    background-color: #333647;
    border: none;
    outline: none;
    box-shadow: none;
    .border-radius(3px);
    color: #fff;
    padding: 3px;
    cursor: pointer;
    .transition(.5s);
}

.button:hover {
    background-color: lighten(#333647, 20%);
    .box-shadow(0px 0px 4px 0px #333647 inset);
}